<html>
    <h1><center><img src="https://uploads-ssl.webflow.com/622f09894fc230ad07de84a9/63b9621e9d70bbceb4c467b2_Group%2085685.svg"> Assignment</center></h1>
    <br>
    <br>
    <p1> Public IP Address: {{ public_ip }} </p1>
    <br>
    <p1> MAC Address:       {{ mac_address }} </p1>
    <br>
    <p1> Instance_Id:       {{ instance_id }} </p1>
</html>
~        